body{
    background-image: url(../img/bg.jpg);
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    transition: all ease-in-out;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #ff9999;
    overflow: auto;
    opacity: 90%;
}
#header .d-flex {
    margin-top: 5rem;
    color: yellow;
    text-shadow: -1px 0 rgb(235, 9, 9), 0 2px rgb(214, 0, 0), 2px 0 rgb(230, 9, 9), 0 -1px rgb(255, 17, 17);
    margin-left: 30px;
}

#header .pilihan {
    width: 200px;
    margin-top: 12rem;
    margin-left: 4rem;
    font-size: 23px;
}

#header .production {
    margin-top: 21.5rem;
}
.huss {
    margin-top: -1rem;
}
.container{
    width: 62rem;
    height: 39rem;
    margin-left: 23rem;
}
.slide {
    max-width: auto;
    margin-top: 1rem;
    height: 365px;
    width: 405px;
    align-items: center;
    margin-left: 28rem;
    position: relative;
    border-radius: 10px;
    fill-opacity: 80%;
}

.slide1,
.slide2,
.slide3 {
    position: absolute;
    width: 410px;
    height: 400px;
    margin-top: 5.3rem;
    margin-bottom: 20rem;
    margin-right: 10rem;
    border-radius: 10px;
    margin-left: -14.5rem;
    box-shadow: 0 4px 8px 0 rgb(252, 8, 232), 0 6px 20px 0 rgb(255, 15, 215);
}
.slide1 {
    background: url(../img/fotopink.jpg) no-repeat center;
    animation: 15s slidy1 infinite;
}
.slide2 {
    background: url(../img/fotomaroon.jpg) no-repeat center;
    animation: 15s slidy2 infinite;
}
.slide3 {
    background: url(../img/fotoku.jpg) no-repeat center;
    animation: 15s slidy3 infinite;
}
@keyframes slidy1 {
    0% {
        opacity: 1;
    }
    33.333% {
        opacity: 0;
    }
    66.666% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slidy2 {
    0% {
        opacity: 0;
    }
    33.333% {
        opacity: 1;
    }
    66.666% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes slidy3 {
    0% {
        opacity: 0;
    }
    33.333% {
        opacity: 0;
    }
    66.666% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
