body{
    background-color: rgba(253, 158, 214, 0.583);
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    transition: all ease-in-out;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #ff9999;
    overflow: auto;
}
#header .d-flex {
    margin-top: 6rem;
    color: yellow;
    text-shadow: -1px 0 rgb(235, 9, 9), 0 2px rgb(214, 0, 0), 2px 0 rgb(230, 9, 9), 0 -1px rgb(255, 17, 17);
    margin-left: 30px;
}

#header .pilihan {
    width: 200px;
    margin-top: 13rem;
    margin-left: 4rem;
    font-size: 23px;
}

#header .production {
    margin-top: 20.5rem;
}
.huss {
    margin-top: -1rem;
}
.judul{
    width: 57rem;
    height: 4rem;
    margin-left: 20rem;
    text-align: center;
    margin-top: 5rem;
}
.judul h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    color: black;
    text-shadow: 3px 3px 5px rgb(225, 0, 142), 0 0 25px rgb(225, 0, 142), 0 0 5px rgb(225, 0, 142);
}
.deskripsi{
    margin-left: 18rem; 
    width: 57rem;
    text-align: center;
}
.deskripsi p{
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-shadow: -1px 0 rgb(109, 9, 106), 0 2px rgb(109, 9, 106), 2px 0 rgb(109, 9, 106), 0 -1px rgb(109, 9, 106);
}
.skill{
    margin-top: -12.5rem;
    width: 35rem;
    height: 3rem;
    margin-left: 31rem;
    border-radius: 10px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-shadow: -1px 0 rgb(109, 9, 106), 0 2px rgb(109, 9, 106), 2px 0 rgb(109, 9, 106), 0 -1px rgb(109, 9, 106);
}
.skill h1{
    color: black;
    text-shadow: 3px 3px 5px rgb(225, 0, 142), 0 0 25px rgb(225, 0, 142), 0 0 5px rgb(225, 0, 142);
}
.secondry{
    margin-top:6rem;
    width: 35rem;
    height: 13rem;
    margin-left: 31rem;
    background-color: blue;
    margin-top: 3rem;
    border-radius: 10px;
    opacity: 20%;
    background-color: rgb(214, 19, 198);
}
.list{
    width: 33rem;
    margin-left: 32rem;
    margin-top: 15px;
}
.list dl dt{
    margin-left: 9px;
    font-size: 20px;
    color: white;
    font-family:"Lobster", cursive;
    text-shadow: 0 0 5px #ee16b8, 0 0 10px #ee16b8;
}
.prjk{
    width: 50rem;
    height: 30rem;
    margin-left: 20rem;
    margin-top: 3rem;
    color: black;
}
.prjk .row .col h3{
    font-size: 35px;
    color: black;
    text-shadow: 3px 3px 5px rgb(225, 0, 142), 0 0 25px rgb(225, 0, 142), 0 0 5px rgb(225, 0, 142);
}
.help{
    margin-left: 15rem;
    margin-top: 5rem;
    width: 62rem;
}
.help .row .col h2{
    font-size: 35px;
    color: black;
    text-shadow: 3px 3px 5px rgb(225, 0, 142), 0 0 25px rgb(225, 0, 142), 0 0 5px rgb(225, 0, 142);
}
.kerem{
    background-color: rgb(223, 0, 167);
    color: white;
    width: 5rem;
    border-radius: 5px;
}